include *.md
include ./easyflow/*.py
include ./easyflow/data/*.py
include ./easyflow/feature_encoders/*.py
include ./easyflow/preprocessing/*.py

include ./requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
